/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#map-canvas {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 15px;
    color: black;
}

.modal {
    color: black;

}

/* match the width of the side bar */
.content {
    padding-left: 200px;
}

@media only screen and (max-width : 992px) {
    .content {
        padding-left: 0;
    }
}
